 html {
     margin: 40px 60px;
     background-color: black;
     font-size: 10px;
     font-family: 'Inter', sans-serif;
 }

 @media only screen and (max-width: 450px) {
     html {
         margin: 5px 7.5px;
         font-size: 7px;
     }
 }

 @media only screen and (max-width: 950px) {
     html {
         margin: 10px 15px;
     }

     .left {
         font-size: 1.4rem;
     }

     .items {
         display: none;
         visibility: hidden;
     }

     .hcta {
         padding: 0.4rem 0.8rem;
         font-size: 1.2rem;
         margin: 0;
     }
 }

 @media only screen and (max-width: 1050px) {
     html {
         margin: 20px 30px;

     }

     header {
         padding: 0.8rem 1.6rem;
         display: flex;
         align-items: center;
     }

     .left {
         font-size: 1.8rem;
     }

     .right {
         gap: 1.6rem;
     }

     .nav {
         gap: 1.6rem;
     }

     .items {
         margin: 0;
         padding: 0.8rem;
         font-size: 1.2rem;
     }

     .hcta {
         padding: 0.8rem 1.6rem;
         font-size: 1.4rem;

     }
 }

 header {
     background-color: #141414;
     padding: 1rem 2rem;
     border-radius: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .left {
     color: #eeeeee;
     font-size: 2rem;
     font-weight: 800;
 }

 .right {
     display: flex;
     align-items: center;
     gap: 2rem;
     white-space: nowrap;
 }

 .nav {
     display: flex;
     gap: 2rem;
 }


 .items {
     color: #E6E6E6;
     font-size: 1.6rem;
     font-weight: 100;
     text-decoration: none;
     padding: 0.5rem 0;
     margin: 0;
 }

 .hcta {
     background-color: #ffffff;
     color: #1A1A1A;
     padding: 1rem 2rem;
     border-radius: 1rem;
     border: none;
     font-size: 1.8rem;
     cursor: pointer;
     white-space: nowrap;
 }
